<div class="full-navbar">
    <div id="logo-parent">
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="letterboxd.png" alt="Logo"/>
        </a>
    </div>
    <div class="navbar-parent">
        <a routerLink="/entertainment" routerLinkActive="active" ariaCurrentWhenActive="page" class="navbar-item">Entertainment</a>
    </div>
    <div *ngIf="authService.loggedIn" class="navbar-parent">
        <a routerLink="/myreservations" routerLinkActive="active" ariaCurrentWhenActive="page" class="navbar-item">Saved Entertainment</a>
    </div>
    <div *ngIf="authService.loggedIn" class="navbar-parent">
        <a routerLink="/mybooks" routerLinkActive="active" ariaCurrentWhenActive="page" class="navbar-item">My Entertainment</a>
    </div>
    <!-- VVV Make sure this div is always the last VVV-->
    <div *ngIf="authService.loggedIn" class="navbar-parent">
        <a (click)="logout()" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="navbar-item">Log out</a>
    </div>
    <div *ngIf="!authService.loggedIn" class="navbar-parent">
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="navbar-item">Log in</a>
    </div>
</div>
